In [1]:
import pandas as pd
import numpy as np

data={'Flavour':['max chocolate chip','chocolate','vanila','cookie dough','rocky road','pistachio','cake butter',
                 'naopoltan','choclate fodge brownie'],
      'Base flavour':['vanila','chocolate','vanila','vanila','chocolate','vanila','vanila',
                      'vanila','chocolate'],
      'Liked':['yes','yes','no','yes','yes','no','yes','no','yes'],
      'Flavour rating':[10.0,8.8,4.7,6.9,8.2,2.3,6.5,3.8,8.2],
      'Texture rating':[8,7.6,5,6.5,7,3.4,6,5,7],
      'Total rating':[18,16,9.7,13.4,15.2,5.7,12.5,8.8,15.3]}
df=pd.DataFrame(data)
df

,Flavour,Base flavour,Liked,Flavour rating,Texture rating,Total rating
0,max chocolate chip,vanila,yes,10.0,8.0,18.0
1,chocolate,chocolate,yes,8.8,7.6,16.0
2,vanila,vanila,no,4.7,5.0,9.7
3,cookie dough,vanila,yes,6.9,6.5,13.4
4,rocky road,chocolate,yes,8.2,7.0,15.2
5,pistachio,vanila,no,2.3,3.4,5.7
6,cake butter,vanila,yes,6.5,6.0,12.5
7,naopoltan,vanila,no,3.8,5.0,8.8
8,choclate fodge brownie,chocolate,yes,8.2,7.0,15.3

In [2]:
group_by_frame=df.groupby('Base flavour')
group_by_frame.max()

                 Flavour Liked  Flavour rating  Texture rating  Total rating
Base flavour
chocolate     rocky road   yes             8.8             7.6          16.0
vanila            vanila   yes            10.0             8.0          18.0

In [3]:
group_by_frame.count()

              Flavour  Liked  Flavour rating  Texture rating  Total rating
Base flavour
chocolate           3      3               3               3             3
vanila              6      6               6               6             6

In [6]:
df.groupby('Base flavour').agg({'Flavour rating':['mean','max','min','count','sum'],
                                'Texture rating':['mean','max','min','count','sum']})

             Flavour rating                        Texture rating            \
                       mean   max  min count   sum           mean  max  min
Base flavour
chocolate               8.4   8.8  8.2     3  25.2           7.20  7.6  7.0
vanila                  5.7  10.0  2.3     6  34.2           5.65  8.0  3.4


             count   sum
Base flavour
chocolate        3  21.6
vanila           6  33.9

In [12]:
df.groupby(['Base flavour','Liked']).agg({'Flavour rating':['mean','max','min','count','sum']})

                   Flavour rating
                             mean   max  min count   sum
Base flavour Liked
chocolate    yes              8.4   8.8  8.2     3  25.2
vanila       no               3.6   4.7  2.3     3  10.8
             yes              7.8  10.0  6.5     3  23.4

In [17]:
df[['Total rating','Flavour rating']].groupby(df['Base flavour']).mean()

              Total rating  Flavour rating
Base flavour
chocolate            15.50             8.4
vanila               11.35             5.7